{
  "presets": ["@babel/preset-flow", "@babel/preset-env", "@babel/preset-react"],
  "env": {
    "testing": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "./node.webpack.config.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
